@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/*variables*/
$negro: #111;
$img-hover: #fdfbff;

@mixin titulo ($color, $tamaño){
    color: $color;
    font-size: $tamaño;
    font-family: 'Passion One', cursive;
    padding-top: 0px;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background-color: $negro;
}

/*galeria home*/
#galeria {
    background-color: $negro;
    padding-top: 70px;

    img {
        margin-top: 100px;
        width: 100%;
        height: 450px;
        border-radius: 5px;
        &:hover{
            border: 4px solid #fdfbff;
        }
    }
    
    .col-lg-4{
        padding: 25px;
        margin: 0!important;
    }
}

#gallery{
    padding-top: 100px;
    background-color: #111;
}

.titulo-galeria{
    text-align: center;
    color: white;
    h2{
        font-size: 100px;
        padding-top: 110px;
        font-family: 'Passion One', cursive;
    }
    h1{
        font-size: 100px;
        padding-top: 110px;
        font-family: 'Passion One', cursive;
        color: white;
    }
}

hr{
    color: white;
    width: 100%;
}

.sobremi-bottom{
    padding-bottom: 100px;
    background-color: #111;
    overflow-x: hidden;
    h2{
        color: white;
        padding-top: 10px;
        text-transform: uppercase;
        font-family: 'Passion One', cursive;
        font-size: 65px;
    }
}


.titulo-galeria2{
    text-align: center;
    h2{
        @include titulo(white, 100px)
    }
    h1{
        @include titulo(white, 80px)
    }
}

/* Home  */
.home {
    width: 100%;
	background-size:cover;  
    background-color: black;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/*sobre mi*/
.row{
    background-color: #111;
}

#titulo-sobremi{
    text-align: center;
    background-color:#111;
    padding: 50px;
    border-radius: 2px;

    h1{
        color: #fff;
        font-size: 60px;
        font-family: "Koulen", cursive;
        margin: 0px;
    }

    img{
        width: 200px;
        float: left;
        margin-left: 200px;
        margin-right: 0px;
    }
}

.text-light{
    padding-bottom: 40px;
}
#texto-sobremi{
    font-size: 35px;
    text-align: justify;
    padding: 30px 100px;
    background-color: #111;
}

#footer-sobremi{
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #111;
}

#section-sobremi{
    padding-top: 100px;
    background-color: black;
    padding-right: 12px;
    font-family: 'Archivo Narrow', sans-serif;

    p{
        color: #fff;
    }
}

.sobremi-bottom{
    h3{
        color: white;
    }
}
/* footer */
#footer{
    font-size: 18px;
    z-index: 10;
    position: relative;
}

/*Tienda*/

#gallery-background{
    background-color: black;
    padding-top: 100px;
}
.card{
    margin-top: 100px;
    margin-right: 20px;
    // margin-left: 10px;
    height: 600px;
}

h3{
    text-transform: uppercase;
    font-family: "Koulen", cursive;
}

/*contacto */

#contact{
    margin-top: 0px;
    background-color: #ffffff;

}

.forms{
    padding-top: 100px ;
    background-color: black;
}

button {
	overflow: visible;
	
}

button, select {
	text-transform: none;
}

button, input, select, textarea {
	color: #5A5A5A;
	font: inherit;
	margin: 10px ;
	display: inline;
	
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

h1 {
        color: #474544;
        font-size: 37px;
        font-weight: 700;
        letter-spacing: 7px;
        padding-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', Arial, sans-serif;
    }
    
#container {
	border: solid 3px #474544;
	margin: 60px auto;
	position: relative;
	
}

form {
	padding: 37.5px;
	margin: 50px 0 0 0;
    
}

.underline {
	border-bottom: solid 4px #474544;
	margin: 1px auto;
}

.icon_wrapper {
	margin: 50px auto 0;
	width: 100%;
}

.icon {
	display: block;
	fill: #474544;
	height: 50px;
	margin: 0 auto;
	width: 50px;
}

.reset{
    float: left;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
	border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
	text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Montserrat', Arial, sans-serif;

}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.nombre{
	float: left;
	width: 45%;
}

.select {
	outline: none;
}

.motivo {
	width: 100%;
}

.numero {
	width: 100%;
}

.textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
	width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}


#form_button {
	background: none;
	border: solid 2px #474544;
	color: #474544;
	cursor: pointer;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 0.875em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
	text-transform: uppercase;
    &:hover {
        background: #474544;
        color: #F2F3EB;
        }
}

/* Navbar */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 10;
    div.main_list {
        height: 65px;
        float: right;
        ul {
            width: 100%;
            height: 65px;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                width: auto;
                height: 65px;
                padding: 0;
                padding-right: 3rem;
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    line-height: 65px;
                    font-size: 1.9rem;
                    font-family: 'Koulen', cursive;
                }
            }
        }
    }
    div.logo {
        float: left;
        width: auto;
        height: auto;
        padding-left: 1rem;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
        font-family: 'Faster One', cursive;
        &:hover {
        color: #ae6ef7;
        }
    }
    
}

/* Animacion */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    padding-top: 7px;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

.btn {
    border: 1.6px solid ;
    border-radius: 1rem;
}

.container-carousel{
    padding-top: 100px; 
    width: 100%;
}

/* Media */

@media screen and (max-width: 480px){
    .titulo-galeria{
        h2{
            font-size: 74px;
        }
        h1{
            font-size: 74px;
        }
    }

    #texto-sobremi{
        text-align:center;
    }

    #titulo-sobremi{
        img{
            width: 200px;
            margin-left: 0px;
            margin-right: 0px;
            float: none;
        }

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
        ul {
            flex-direction: column;
            width: 100%;
            height: 100vh;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #111;
            background-position: center top;
            li {
                width: 100%;
                text-align: right;
                a {
                    text-align: center;
                    width: 100%;
                    font-size: 3rem;
                    padding: 20px;
                }
            }
            
        }
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.media_button {
        display: block;
    }

}
