*{
	padding: 0px;
}

/* header */

.header-titulo{
	background-color:#FBCEAD ;
	margin: 0px;
}


.header-titulo img {
	width: 250px;
	margin: 0px;
	padding-left: 100px;
	padding-top: 20px;
	padding-bottom: 0px;
	display: inline-block;
}

.header-titulo h1 {
	font-size: 130px;
	text-align: right;
	display: inline;
	padding-left: 300px;
	padding-top: 0px;
	margin: 0px;
	font-family: 'Mochiy Pop One', sans-serif;
	color: #000000e7;
}

.header-titulo h2{
	text-align: right;
	padding: 0px 160px 15px 160px ;
	margin: 0px;
	font-size: 30px;
	font-family: 'Mochiy Pop One', sans-serif;
	color: #000000d7;
	
}


/*.header-titulo img {
	width: 300px;
}*/


/*carousel*/

.carousel-fotos{
	background-color: #f69c9a43;
}

.carousel-fotos p {
	margin: 0px;
	padding: 25px 10px;
	font-family: 'Patua One', cursive;
}

.carousel {
padding: 50px 10% 50px 10%;
}

ul.slides {
display: block;
position: relative;
height: 900px;
width: auto;
margin: 0;
padding: 0;
overflow: hidden;
list-style: none;
}

.slides * {
user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-webkit-touch-callout: none;
}

ul.slides input {
display: none;
}


.slide-container {
display: block;
}

.slide-image {
display: block;
position: absolute;
width: 100%;
height: 100%;
top: 0;
opacity: 0;
transition: all .7s ease-in-out;
}

.slide-image img {
width: auto;
min-width: 100%;
height: 100%;
}

.carousel-controls {
position: absolute;
top: 0;
left: 0;
right: 0;
padding-top: 120px;
z-index: 999;
font-size: 100px;
line-height: 600px;
color: rgb(255, 255, 255);
}

.carousel-controls label {
display: none;
position: absolute;
padding: 0 20px;
opacity: 0;
transition: opacity .2s;
cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
opacity: 0.5;
}

.carousel-controls label:hover {
opacity: 1;
}

.carousel-controls .prev-slide {
width: 49%;
text-align: left;
left: 0;
}

.carousel-controls .next-slide {
width: 49%;
text-align: right;
right: 0;
}

.carousel-dots {
position: absolute;
left: 0;
right: 0;
bottom: 20px;
z-index: 999;
text-align: center;
}

.carousel-dots .carousel-dot {
display: inline-block;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: rgb(0, 0, 0);
opacity: 0.5;
margin: 10px;
}

input:checked + .slide-container .slide-image {
opacity: 1;
transform: scale(1);
transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
    display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3{
opacity: 1;
}

input:checked + .slide-container .nav label { display: block; }

/* NAV VAR */

#menu {
	background: #EF4665;
	color: #FFF;
	height: 67px;
	border-radius: 0px;
	border-color: #000000;
    border-left: 0px;
	border-right: 0px;
	border-style: solid ;
	
}
#menu ul {
	width: 100%;
	margin: 0px;
}
#menu li {
	float: left;
	display: inline;
	position: relative;;
}
#menu a {
	display: block;
	line-height: 67px;
	padding: 0 50px;
	margin: 0 90px;
	text-decoration: none;
	color: #000000;
	font-size: 23px;
	text-transform: uppercase;
}
#menu li a:hover {
	color: #D1DFE6;
	background: #3F4345;
	border-radius: 3px;
}

/*footer*/

.conteiner-footer {

	display: flex; 
	background-color: rgb(0, 0, 0); 
	padding-left: 0px; 
	color:white;
	width: 100%;
}

.conteiner-footer h3 {
	font-size: 1rem; 
	margin: auto 2rem; 
	float: left;
}

.footer-navizq ul{
	padding-top: 10px;
	padding-left: 15px;
}

.footer-navizq
{
	list-style: none;
}

.footer-navizq img
{
	list-style: none;
	display: inline-flex;
	float: left;
	height:1.5rem;
	border-radius: 17%; 
}

.footer-navizq h3
{
	list-style: none;
	display: inline-flex;
	float: left;
	height:1.5rem;
	border-radius: 17%; 
	font-size: 18px;
	padding-left: 15px;
	margin: 0px;
}
.footer-nav {
	margin: auto 1rem auto auto; 
}

.footer-nav li {
	padding: 0px ; 
	display: inline-block;
	list-style: none;
}

.footer-nav a{
	display: block ; 
	border-radius: 22%; 
}

.footer-nav img {
	display: block ; 
	height: 3.5rem;
	border-radius: 100%; 
	filter: grayscale(100%);
	transition: 0.6s;
}

.footer-nav img:hover{
	border-radius: 10%; 
	filter: grayscale(0%);
}

::marker {
	color:#000000
}

/* galeria de imagenes */


.productos-home img{
    width: 70%;
}

.row{
    display: flex;
    flex-wrap: wrap;
	background-color: #f69c9a43 ;
}

.column{
    flex: 25%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 80px;
}

.column img{
    margin-top: 50px;
	margin-bottom: 20px;
	border-radius: 10px;
	border-style: solid;
}

/* formulario de contacto */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

button {
	overflow: visible;
	
}

button, select {
	text-transform: none;
}

button, input, select, textarea {
	color: #5A5A5A;
	font: inherit;
	margin: 10px ;
	display: inline;
	
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

#container {
	border: solid 3px #474544;
	margin: 60px auto;
	position: relative;
	
}

form {
	padding: 37.5px;
	margin: 50px 0;
}

h1 {
	color: #474544;
	font-size: 37px;
	font-weight: 700;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', Arial, sans-serif;
}

.underline {
	border-bottom: solid 4px #474544;
	margin: 1px auto;
}

.icon_wrapper {
	margin: 50px auto 0;
	width: 100%;
}

.icon {
	display: block;
	fill: #474544;
	height: 50px;
	margin: 0 auto;
	width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
	border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
	text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Montserrat', Arial, sans-serif;

}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.nombre{
	float: left;
	width: 45%;
}

select {
	outline: none;
}

.motivo {
	width: 100%;
}

.numero {
	width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
	width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}


#form_button {
	background: none;
	border: solid 2px #474544;
	color: #474544;
	cursor: pointer;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 0.875em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
	text-transform: uppercase;
}

#form_button:hover {
background: #474544;
color: #F2F3EB;
}


@media screen and (max-width: 420px) {
h1 {
	font-size: 18px;
}

.icon {
	height: 35px;
	width: 35px;
}

.underline {
	width: 53px;
}

input[type='text'], [type='email'], select, textarea {
	font-size: 0.875em;
}
}


/* tienda */

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Mochiy Pop One', sans-serif;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: aliceblue;
    position: relative;
}

.page-nav h2 {
	text-align: center;
	font-size: 50px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 3px solid #000000; ; 
    transition-duration: 0.4s;
	float: right;
	padding: 10px;
	margin: 25px;
    right: 15px;
    bottom: 15px;
	font-family: 'Mochiy Pop One', sans-serif;
}

.button-checkout:hover {
    background-color: #272927; ; 
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-add {
    background-color: white;
    color: black;
    border: 3px solid #000000; 
    transition-duration: 0.4s;
    right: 15px;
    bottom: 10px;
	font-family: 'Mochiy Pop One', sans-serif; 
}

.button-add:hover {
    background-color: #272927; 
    color: white;
}

/* sobre mi */
.sidebar {
	grid-area: sidebar;
	padding: 20px;
	text-align: center;
}

.content {
	grid-area: content;
	position: relative;
	background-image: url(../assets/img/Sobremi.jpeg);
	border-style: solid;

}

.header {
	grid-area: header;
	text-align: center;
}

.footer {
	grid-area: footer;
	text-align: center;
}

.wrapper {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 440px 500px 200px;
	grid-template-areas:
	"header  header  header"
	"sidebar content content"
	"footer  footer  footer";
	padding: 10px;
	background-color:#FBCEAD ;
	justify-content: center;
}

.box {
	background-color: #e3b89951 ;
	color: rgb(5, 5, 5);
	border-radius: 10px;
	padding: 50px;
	font-size: 130%;
}

.header,
.footer {
	background-color: #e3b89951 ;
}

.topleft {
	position: absolute;
	top: 0;
	left: 0;
}

.topright {
	position: absolute;
	top: 0;
	right: 0;
}

.bottomleft {
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottomright {
	position: absolute;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 480px) {
	/* header */
	.header-titulo{
		width: 100%;
	}

	.header-titulo img{
		width: 100px;
		margin: 0px;
		padding-left: 150px;
		padding-top: 20px;
		padding-bottom: 0px;
		display: block;
		float: none;
	}

	.header-titulo h1 {
		font-size: 50px;
		text-align: center;
		display: block;
		padding-left: 40px;
		padding-top: 20px;
	}
	
	.header-titulo h2{
		text-align: left;
		padding-left: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 1px;
		font-size: 19px;
	}

 	/* sobre mi */
	.wrapper {
		justify-content: center;
	grid-template-columns: 270px 170px ;
	grid-template-rows: 100px 300px 350px auto; 
	grid-template-areas:
	"header  header"
	"sidebar sidebar"
	"content content"
	"footer  footer";
}
	/* tienda */
	.page-content {
		padding-left: 50px;
	}

	/* contacto */
	h1 {
		font-size: 26px;
	}
	
	.underline {
		width: 68px;
	}
	
	#form_button {
		padding: 15px 25px;
	}

	/* home */
	.productos-home img{
		width: 80%;
	}
	
	.row{
		display: flex;
		flex-wrap: wrap;
		background-color: #f69c9a43 ;
	}
	
	.column{
		flex: 100%;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 70px;
	}
	
	.column img{
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 8px;
		border-style: solid;
	}
	/* footer */
	.footer-nav {
		margin: 0px
	}
	/* nav var */
	#menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 350px;
	}
}

@media screen and (max-width: 768px) {
	/* nav var */
	#menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 350px;
	}
	/* header */
	header-titulo{
		width: 100%;
	}

	.header-titulo img{
		width: 110px;
		margin: 0px;
		padding-left: 45px;
		padding-top: 15px;
		padding-bottom: 0px;
		display: flex; 
		float: left;
	}

	.header-titulo h1 {
		font-size: 50px;
		text-align: right;
		display: flex;
		padding-left: 170px;
		padding-top: 15px;

	}
	
	.header-titulo h2{
		text-align: right;
		padding-left: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 1px;
		font-size: 19px;
		padding-right:30px ;
	}
	/* sobre mi */
	.wrapper {
		justify-content: center;
	grid-template-columns: 270px 170px ;
	grid-template-rows: 100px 300px 350px auto; 
	grid-template-areas:
	"header  header"
	"sidebar sidebar"
	"content content"
	"footer  footer";
	}
	/* tienda */
	.button-checkout {
		float: none;
	}

	/* contacto */
	#contact {
		margin: 20px auto;
		width: 95%;
	}
	/* home */
	.productos-home img{
		width: 80%;
	}
	
	.row{
		display: flex;
		flex-wrap: wrap;
		background-color: #f69c9a43 ;
	}
	
	.column{
		flex: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.column img{
		margin-top: 40px;
		margin-bottom: 40px;
		border-radius: 13px;
		border-style: solid;
	}
	/* footer */

	.footer-nav {
		padding-right: 30px;
	}
}